body{
    font-family: 'Roboto';
} 

.cabecalho{
    display: flex;
    justify-content: space-between;
    padding: 30px;
    max-width: 1440px;
    margin: 0 auto;
}

.cabecalho .logo{
    width: 65px;
}

*{
    background-color: black;
}

.cabecalho .menu{
    display: flex;
    align-items: center;
    height: 100%;
}

.cabecalho nav a{
    font-weight: bold;
    color: white;
    font-size: 25px;
    padding: 10px 20px;
    border-radius: 50px;
    transition: 0.2s;
    text-decoration: none;
}

.cabecalho nav  a:hover{
    background-color: red;
}

.container{
    background-color: aqua;
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: calc(100vh - 200px);
    
}

.container .informacoes{
    display: flex;
    margin-left: 40px;
    padding-left: 40px;
}

.container .descricao{
    color: white;
    padding-left: 40px;
}